*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Poppins;
    background-color: #fff;
}
.flex-container{
    display: flex;
    align-items: center;
}
nav{
    position: sticky;
    top: 0;
    background: #1C1B1A;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    padding: 13px 2%;
    justify-content: space-between;
    color: rgb(0, 0, 0);
    flex-wrap: wrap;

}
.navbar_dark .left-content{
    margin-left: 1rem;
}

.Links a{
    text-decoration: none;
    color: #fff;
    padding: 5px;
}
.Links li{
    list-style: none;
    margin: 0 20px;
}

.logo{
    text-decoration: none;
    color: #fff;
}
.right-content input{
    padding: 5px;
    outline:none;
    border: 2px solid lightgray;
    margin-right: 5px;
    font-size: 0.9em;

}
.btn-search{
    color: #fff;
    font-weight: bold;
    border: none;
    padding: 0.5em 1em ;
    background: #1471DF;
}
.short_h1{
    display: none;
    width: 30px;
}
.navbar_dark .left-content .menu-bar{
    display: none;
    margin-right: 20px;
    font-size: 1.2rem;
}
.navbar_dark .left-content{
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 600px) {

    .navbar_dark .left-content h1{
        font-size: 1.3rem;
    }

}
    @media only screen and (max-width: 800px) {

        nav .right-content{
            margin: 1% 0;
            
        }
        .navbar_dark .left-content .menu-bar{
            display: block;
        }
    }
    @media only screen and (max-width: 500px) {
        .navbar_dark .Links .nav-link li a{
            font-size: 0.93rem;
        }
        .short_h1{
            display: block;
        }
        .long_h1{
            display: none;
        }


    }